* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #home-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  @media (min-width: 1024px) {
    .h-lg-screen {
      height: 100vh !important;
    }
  }
  
  #home-wrapper > section {
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    position: relative;
  }
  